<h3>以下の内容で送信する</h3>
<%= form_with(model: @tweet, local: true) do |form| %>
  <%= form.hidden_field :content %>
  <p>本文<%= @tweet.content %></p>
  <%= form.submit "tweetする" %>
  <%= form.submit "back", name: 'back' %>
<% end %>
